[Interface]
Address = 10.77.0.1/24
ListenPort = 51820
PrivateKey = REPLACE_SERVER_PRIVATE_KEY

[Peer]
# Initial operator laptop. Add a future monitoring VPS as another peer.
PublicKey = REPLACE_LAPTOP_PUBLIC_KEY
AllowedIPs = 10.77.0.2/32
