node_modules/
.output/
.vinxi/
.tanstack/
dist/
.lighthouseci/
C:\\Users\\user\\AppData\\Local\\lighthouse.*/
*.local

__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
.eslintcache

.env
.env.*
!.env.example

*.log
.DS_Store
