[Unit]
Description=Schedule privacy-safe infraege traffic delivery to management sre-kit

[Timer]
OnActiveSec=5s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=false
Unit=infraege-sre-kit-management-traffic.service

[Install]
WantedBy=timers.target
