.root {
  composes: root from "../../styles/link.module.css";
}
.button {
  composes: root from "../button/button.module.css";
}
.icon {
  composes: icon from "../../styles/link.module.css";
}
.root[data-icon="back"] .icon {
  margin-inline: 0 0.25em;
}
.visuallyHidden {
  composes: visuallyHidden from "../../styles/patterns.module.css";
}
