@font-face {
  font-family: "Alegreya Fallback";
  font-style: normal;
  font-weight: 400 900;
  src: local("Georgia"), local("Liberation Serif");
  size-adjust: 91.9693%;
  ascent-override: 110.4716%;
  descent-override: 37.5125%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Golos Text Fallback";
  font-style: normal;
  font-weight: 400 900;
  src: local("Arial"), local("Helvetica Neue"), local("Segoe UI");
  size-adjust: 108.5687%;
  ascent-override: 90.2654%;
  descent-override: 20.2637%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "JetBrains Mono Fallback";
  font-style: normal;
  font-weight: 100 800;
  src: local("SFMono-Regular"), local("Consolas"), local("Liberation Mono");
  size-adjust: 99.9837%;
  ascent-override: 102.0166%;
  descent-override: 30.0049%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Alchimia Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/alegreya/alegreya-cyrillic-wght-normal.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Alchimia Alegreya";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/alegreya/alegreya-latin-wght-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Alchimia Golos Text";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/golos-text/golos-text-cyrillic-wght-normal.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Alchimia Golos Text";
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url("/fonts/golos-text/golos-text-latin-wght-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Alchimia JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/jetbrains-mono/jetbrains-mono-cyrillic-wght-normal.woff2")
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Alchimia JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/jetbrains-mono/jetbrains-mono-latin-wght-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
